<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randomizer</title>
</head>
<body>
    <h1>Generate a random dice roll!</h1>
    <form action="/dice" method="Post">
        <input type="number" name="dice[count]" id="">
        d
        <input type="number" name="dice[size]" id="">
        <input type="submit" value="Generate">
    </form>
    <a href="/strings">Generate random strings</a>
</body>
</html>