<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random String</title>
</head>
<body>
    <h1>Generate a random string!</h1>
    <form action="/string" method="Post">
        <input type="number" name="string[size]" id="">
        <input type="submit" value="Generate">
    </form>
    <a href="/">Generate dice rolls</a>
</body>
</html>